.portlet-analytics-settings {
	.contacts-link-disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.empty-state-icon {
		background-image: url(@theme_image_path@/states/empty_state.gif);
		margin: auto;
		max-width: 250px;
		padding-top: 250px;
	}

	#channelManagementToolbar .management-bar {
		.container-fluid,
		.navbar-form {
			padding: 0;
		}
	}

	.radio-buttons {
		label {
			cursor: pointer;
		}

		small {
			margin: 0 0 0 1.4rem;
		}

		.radio {
			margin-bottom: 0;
		}
	}
}

.sheet {
	.sheet-title {
		margin-bottom: 1.25rem;
	}

	.subtitle-text {
		color: #6b6c7e;
		font-size: 14px;
		margin-bottom: 0;
		margin-top: 4px;
	}

	.form-group {
		margin-bottom: 1rem;
	}
	.disabled {
		color: #a7a9bc;
	}
}
